In [1]:
from sqlalchemy import create_engine, Table, MetaData
from sqlalchemy.orm import sessionmaker, Session
import pandas as pd
import numpy as np

import visual_behavior_research.utilities as vbu

In [3]:
db = create_engine("postgresql://mtrainreader:r0mTr@!n@mtrain:5432/mtrain")
connection = db.connect()
Session = sessionmaker()

In [5]:
metadata = MetaData(bind=db, reflect=True)
Subjects = metadata.tables['subjects']
Trials = metadata.tables['trials']

/home/dougo/.local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.
  """Entry point for launching an IPython kernel.

In [8]:
sess = Session(bind=connection)
q = sess.query(MetaData).filter(Trials.c.mouse_id=="392523").filter(Trials.c.date=='2018-8-8')
df = pd.read_sql(q.statement, sess.bind)

InvalidRequestError: SQL expression, column, or mapped entity expected - got '<class 'sqlalchemy.sql.schema.MetaData'>'

In [7]:
df

,id,behavior_session_uuid,index,dayofweek,initial_image_name,mouse_id,response_type,response_latency,year,rewarded,...,starttime,startframe,response,reward_licks,reward_frames,lick_times,optogenetics,stim_duration,month,initial_contrast
0,531594,3cce4924-12c7-47fb-9f3f-46205be56b1e,0,2,,392523,MISS,NaN,2018,True,...,10.274344,601,0.0,[],[],"[11.141355465631932, 11.241441311547533]",False,6000.0,8,None
1,531595,3cce4924-12c7-47fb-9f3f-46205be56b1e,1,2,,392523,MISS,NaN,2018,True,...,12.292349,722,0.0,[],[],"[14.260668420000002, 14.360746982274577, 14.51...",False,6000.0,8,None
2,531596,3cce4924-12c7-47fb-9f3f-46205be56b1e,2,2,,392523,MISS,NaN,2018,True,...,15.294872,902,0.0,[],[],"[18.09724395792, 18.197330134920776, 18.297408...",False,6000.0,8,None
3,531597,3cce4924-12c7-47fb-9f3f-46205be56b1e,3,2,,392523,MISS,NaN,2018,True,...,19.048040,1127,0.0,[],[],"[21.40003979438916, 21.5001498083584, 21.60022...",False,6000.0,8,None
4,531598,3cce4924-12c7-47fb-9f3f-46205be56b1e,4,2,,392523,MISS,NaN,2018,True,...,22.050586,1307,0.0,[],[],"[24.786219424800947, 25.003095486434177, 25.10...",False,6000.0,8,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118,532712,3cce4924-12c7-47fb-9f3f-46205be56b1e,1118,2,,392523,MISS,NaN,2018,True,...,3584.048164,214845,0.0,[],[],"[3587.701288881246, 3587.9681476114783]",False,6000.0,8,None
1119,532713,3cce4924-12c7-47fb-9f3f-46205be56b1e,1119,2,,392523,HIT,0.717281,2018,True,...,3588.568670,215116,1.0,"[0.7339417922776192, 1.0175161487422884, 1.367...",[215520],"[3595.3077078934293, 3596.041649685707, 3596.3...",False,6000.0,8,None
1120,532714,3cce4924-12c7-47fb-9f3f-46205be56b1e,1120,2,,392523,MISS,NaN,2018,True,...,3597.609642,215658,0.0,[],[],"[3597.7430875473656, 3597.8932143298443, 3598....",False,6000.0,8,None
1121,532715,3cce4924-12c7-47fb-9f3f-46205be56b1e,1121,2,,392523,MISS,0.834029,2018,True,...,3599.110925,215748,0.0,[],[],"[3602.9474866474047, 3603.2310623279773, 3603....",False,6000.0,8,None
1122,532716,3cce4924-12c7-47fb-9f3f-46205be56b1e,1122,2,,392523,MISS,0.950795,2018,True,...,3608.151903,216290,0.0,[],[],"[3612.12192110857, 3612.272065768717, 3612.372...",False,6000.0,8,None